<form>
  <div class="form-group">
    <label>Gender:</label>
    <br/>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="gender1" name="gender" class="custom-control-input"/>
      <label class="custom-control-label" for="gender1">Male</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="gender2" name="gender" class="custom-control-input" />
      <label class="custom-control-label" for="gender2">Female</label>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-success">
      Add
    </button>
  </div>
</form>

<hr/>
